<div class="floating-contact">

  <a href="/frontend/pages/about.html" title="About Us">
    <i class="fa-solid fa-circle-info"></i>
  </a>

  <a href="/frontend/pages/commerce.html" title="Commerce ">
    <i class="fa-solid fa-briefcase"></i>
  </a>

  <a href="https://facebook.com" target="_blank" rel="noopener" title="Facebook">
    <i class="fa-brands fa-facebook-f"></i>
  </a>

  <a href="https://linkedin.com" target="_blank" rel="noopener" title="LinkedIn">
    <i class="fa-brands fa-linkedin-in"></i>
  </a>

  <a href="https://twitter.com" target="_blank" rel="noopener" title="X / Twitter">
    <i class="fa-brands fa-x-twitter"></i>
  </a>

  <a href="https://youtube.com" target="_blank" rel="noopener" title="YouTube">
    <i class="fa-brands fa-youtube"></i>
  </a>

  <a href="mailto:yashenterprises57575@gmail.com" title="Email Us">
    <i class="fa-solid fa-envelope"></i>
  </a>

  <a href="tel:+919308907319" title="Call Us">
    <i class="fa-solid fa-phone"></i>
  </a>

</div>